.favouritecontainer {
               width: 100%;
               height: max-content;
               padding-top: 100px;
               padding-left: 50px;
               /* padding: 19px; */
}

.favouritecontainerow {
               display: flex;
               align-items: flex-start;
               justify-content: flex-start;
               flex-wrap: wrap;
               /* flex-direction: column; */
               width: 100%;
               padding: 9px;
}

.ProductDetailstopback {
               width: 100%;
               padding: 0 19px;
}

.productdetailsimage>img {
               object-fit: cover;
               aspect-ratio: 3/3;
               height: 270px;
}

.favouriteproudctno {
               text-align: center;
}

.favouriteproudctno>img {
               width: 440px;
               opacity: 0.4;
               margin-right: 140px;
               padding: 20px 0;
}

.favouriteproudctno>p {
               font-family: var(--subtext);
               font-size: 40px;
               color: rgba(124, 124, 124, 0.4);
}

.favouritecontainerbutton {
               padding-bottom: 19px;
               width: 100%;
}

.favouritecontainerbtn {
               margin-left: 21px;
               background-color: var(--button-color);
               width: 160px;
               height: 35px;
               font-weight: 400;
               font-size: 16px;
               letter-spacing: 0.54px;
               font-family: var(--subtext);
               cursor: pointer;
               color: var(--button-text-color);
               outline: none;
               border: none;
}

.productdetailsimage {
               position: relative;
}

.productdetailsheartimg>img {
               width: 29px;
               height: 29px;
               position: absolute;
               top: 9px;
               right: 21px;
               cursor: pointer;
}

@media (min-width:250px) and (max-width:790px) {
               .favouritecontainer {
                              padding-top: 60px;
                              padding-left: 0px;
               }

               .favouritecontainercol {
                              display: flex;
                              align-items: center;
                              justify-content: flex-start;
                              width: 100%;
                              padding-top: 40px;
                              padding-bottom: 19px;
               }

               .productdetailsimage>img {
                              aspect-ratio: 3/3;
                              height: 300px;
               }

               .favouriteproductname {
                              width: 290px;
               }

               .favouriteproudctno>p {
                              font-family: var(--subtext);
                              font-size: 25px;
                              color: rgba(124, 124, 124, 0.4);
               }

               .favouriteproudctno>img {
                              width: 290px;
                              opacity: 0.4;
                              margin-right: 10px;
                              padding: 20px 0;
               }
}